body {
    font-family: Arial, sans-serif;
    margin: 40px;
}
body {
    font-family: Arial, sans-serif;
}

.todo-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item input {
    margin-right: 10px;
    width: 50%;
}

.todo-item.correct {
    color: green;
}

.todo-item.fail {
    color: red;
}

.index {
    margin-right: 10px;
    width: 35px;
    display: inline-block;
}